[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocstrings = "*"
mkdocs-material = "*"
mkdocs-mermaid2-plugin = "*"
fontawesome-markdown = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.6"
